body {
    font-family: helvetica, sans;
}

h1 {
    border-bottom: 1px solid #BAA;
}

button {
    background-color: #A99;
    border: 1px solid #BAA;
}

#CommandsWrapper {
    border-bottom: 1px solid #BAA;
}

.ui-dialog {
    background-color: white;
}
